@model IEnumerable<DOANNEW.Models.Bai_viet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- google fonts -->
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@300;400;500;700;900&display=swap" rel="stylesheet">
<!-- fontawesome -->
<script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
<link href="~/Content/CSS-SP/SPORTS.css" rel="stylesheet" />
<body>
    <!-- header -->

    <section class="banner">
        <div class="banner-main-content">
            <h2>GET THE LATEST FASHION NEWS FROM THE WORLD</h2>
            <h3>The world's leading fashion portal</h3>

            <button>
                <a href="#">Know More</a>
            </button>

            <div class="current-news-head">
                <h3>
                    New York
                    CNN
                    —
                    It’s easy to watch Lionel Messi play in the United States, but dressing like him is a bit more difficult.<span>
                        by CNN

                    </span>
                </h3>

                <h3>
                    New York
                    CNN
                    —
                    It’s easy to watch Lionel Messi play in the United States, but dressing like him is a bit more difficult.<span>by CNN</span>
                </h3>

                <h3>
                    New York
                    CNN
                    —
                    It’s easy to watch Lionel Messi play in the United States, but dressing like him is a bit more difficult.<span>by CNN</span>
                </h3>

                <h3>
                    New York
                    CNN
                    —
                    It’s easy to watch Lionel Messi play in the United States, but dressing like him is a bit more difficult.<span>by CNN</span>
                </h3>
            </div>
        </div>

        <div class="banner-sub-content">
            <div class="hot-topic">
                <img src="~/Content/IMG/topic 1.jpg" />

                <div class="hot-topic-content">
                    <h2>Lionel Andrés Messi</h2>

                    <h3>Messi in Barca colours</h3>
                    <p>Lionel Messi’s career is the stuff of legend, but it’s not just the goals, the trophies, or the records that tell his story—it’s also the shirts he wore along the way.</p>
                    <a href="#">Read More</a>
                </div>
            </div>

            <div class="hot-topic">
                <img src="~/Content/IMG/topic 2.jpg" />

                <div class="hot-topic-content">
                    <h2>Neymar da Silva Santos</h2>

                    <h3>Neymar Jr Outfits</h3>
                    <p>PUMA has teamed up with Neymar Jr. for the soccer star's first-ever lifestyle collection, celebrating his life journey from growing up in São Vicente, Brazil to playing for Paris Saint-Germain. </p>
                    <a href="#">Read More</a>
                </div>
            </div>

            <div class="hot-topic">
                <img src="~/Content/IMG/topic 3.jpg" />

                <div class="hot-topic-content">
                    <h2>People</h2>

                    <h3>How New York’s Most Stylish Men Dress Right Now</h3>
                    <p>Just have a look through this gallery of well-dressed men snapped at this past New York Fashion Week.</p>
                    <a href="#">Read More</a>
                </div>
            </div>

            <div class="hot-topic">
                <img src="~/Content/IMG/topic 4.jpg" />

                <div class="hot-topic-content">
                    <h2>Alejandro Garnacho Ferreyra</h2>

                    <h3>Garnacho Style</h3>
                    <p>Alejandro Garnacho is a talented young footballer and hairstyle innovator. He wears modern clothes and has tried bowl cuts, skin fades, and blonde dye jobs. He always has great style and takes risks. </p>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
    </section>

    <hr>

    <main>
        <section class="main-container-left">
            <h2>Top Stories</h2>
            <div class="container-top-left">
                <article>
                    <img src="~/Content/IMG/topic 5.jpg" />

                    <div>
                        <h3>Inter Miami CF Away Jersey 2023 Unveiled By David Beckham</h3>

                        <p>
                            The Inter Miami CF ‘La Noche’ (The Night) jersey is black with a tonal wave pattern. Pink Adidas stripes are placed on the shoulders whilst the Adidas logo on the right breast and the XBTO shirt sponsor is also coloured pink as is the trim on the cuffs.</br>
                            The Inter Miami owner, David Beckham took to Instagram to post an image of himself wearing the new 2023-24 away jersey as well as both Cruz Beckham and Harper Beckham wearing the new kit.
                        </p>

                        <a href="#">Read More <span>>></span></a>
                    </div>
                </article>
            </div>

            <div class="container-bottom-left">
                <article>
                    <img src="~/Content/IMG/topic 6.jpg" />
                    <div>
                        <h3>From Gosha Rubchinskiy Collabs to Fashionable Jerseys, Here’s How adidas Football is Influencing Streetwear</h3>
                        <p>We spoke to adidas Football's Creative Director Sam Handy about the brand's mission to unite and push forward football and street culture.</p>

                        <a href="#">Read More <span>>></span></a>
                    </div>
                </article>

                <article>
                    <img src="~/Content/IMG/topic 7.jpg" />
                    <div>
                        <h3> Adidas Colombia Jersey</h3>
                        <p>With bold, authentic colors and designs, these jerseys help you celebrate your heritage and cheer on your team, whether you're in the stadium or watching at home. Pair your team jersey with warmup pants, jackets, hats and more for a complete fan look. Celebrate your team with an authentic Colombia jersey from adidas today.</p>

                        <a href="#">Read More <span>>></span></a>
                    </div>
                </article>
            </div>
        </section>

        <section class="main-container-right">
            <h2>Latest Stories</h2>

            <article>
                <h4>just in </h4>
                <div>
                    <h2>What Do David Beckham and Your Fall Wardrobe Have in Common?</h2>

                    <p>The current obsession with bad taste–meets–good taste on the runways may have hit its peak: This past week at Mercedes-Benz Fashion Week Russia, a lone showgoer was captured in a glossy-gauche outfit comprised of Supreme shower slides with white sports socks, a monogrammed Gucci backpack, and, looped around his neck, the pinnacle of the deliciously tacky: the football scarf. (That’d be soccer, to the USA native.)</p>

                    <a href="#">Read More <span>>></span></a>
                </div>
                <img src="~/Content/IMG/topic 8.jpg" />
            </article>

            <article>
                <h4>just in </h4>
                <div>
                    <h2>TKOCHÉ & The Woolmark Company Unveil 2018 Pre-Fall Collection</h2>

                    <p>KOCHÉ recently unveiled its 2018 Pre-Fall collection in partnership with The Woolmark Company in New York City. The collection offers inspiration from the energy of the city and was translated to show the multicultural and free spirit of those in New York. The men's and women's ready to wear designs blended sportswear mainstays with couture techniques that included 21 Merino wool pieces that were embroidered or printed, tying in exceptional craftsmanship supported by The Woolmark Company.</p>

                    <a href="#">Read More <span>>></span></a>
                </div>
                <img src="~/Content/IMG/topic 9.jpg" />
            </article>

            <article>
                <h4>just in </h4>
                <div>
                    <h2>EMILY RATAJKOWSKI at Super Bowl LIV in Miami 02/02/2020</h2>

                    <p>Emily Ratajkowski in a Brand Logo White Red Lace-Up Sneakers Attending the Super Bowl Miami, Autumn Winter 2020.</p>

                    <a href="#">Read More <span>>></span></a>
                </div>
                <img src="~/Content/IMG/topic 10.jpg" />
            </article>

            <article>
                <h4>just in </h4>
                <div>
                    <h2>FILA new heritage collection SS2017 campaign</h2>

                    <p>one of FILA's media victories</p>

                    <a href="#">Read More <span>>></span></a>
                </div>
                <img src="~/Content/IMG/topic 11.jpg" />
            </article>

            <article>
                <h4>just in </h4>
                <div>
                    <h2>Venezia Reveal 22/23 Third Shirt From Kappa – SoccerBible.</h2>

                    <p>Venezia FC has revealed its golden third kit for the 2022/23 season. Here we sit down with the club's creative lead to find out more.</p>

                    <a href="#">Read More <span>>></span></a>
                </div>
                <img src="~/Content/IMG/topic 12.png" />
            </article>
        </section>
    </main>

    <footer>
        <div class="footer-container">
            <div class="footer-left">
                <h2>FASHION NEWS</h2>
                <p>...</p>
            </div>

            <div class="footer-right">
                <h2>Newletter</h2>
                <p>....</p>

                <div>
                    <input type="text" placeholder="Email Address">
                    <i class="fas fa-envelope"></i>
                </div>
            </div>
        </div>

        
    </footer>


</body>