@model IEnumerable<DOANNEW.Models.Bai_viet>

@{
        
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/CSS-FS/fashion_thietke.css" rel="stylesheet" />
<link href="~/Content/CSS-FS/Site.css" rel="stylesheet" />
<link href="https://fonts.cdnfonts.com/css/vogue" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Federo&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap" rel="stylesheet">

<!DOCTYPE html>
<div>
    <img src="~/Content/IMG/banner-fashion.jpg" width="100%" style="margin-top:10px;margin-bottom:10px" />
</div>
<div class="hot-news">
    Celebrity Style
</div>
@*<div class="Content">

    </div>

    <div class="row">
        @foreach (var article in Model)
        {
            <div class="col-sm-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card-pro">
                    <img src="~/Content/IMG/@article.Hinh_Anh" width="200" height="250" />
                    <p>@Html.DisplayFor(model => article.TieuDe)</p>
                    <p> <font color="red">@Html.DisplayFor(model => article.NoiDung)</font></p>
                </div>
            </div>
        }
    </div>*@
<div class="container-fashion">
    <div class="image">
        <img src="~/Content/IMG/content-billie1.jpg" height="100%"/>
    </div>
    <div class="Content">
        <h1 class="title">Billie Eilish at Vogue magazine</h1>
        <p>
            We're only a little over a month into 2020, but it's already been a decidedly good year for Billie Eilish. She walked away from the Grammys with five awards in her hands, and now she's hit another major milestone: covering American Vogue.
        </p>
    </div>
</div>
<div class="celeb-more">
    <div class="item">
        <div class="img-fashion">
            <img src="~/Content/IMG/rose.jpg" alt="Rose" class="fm-img" style="margin-top:10px;" />
        </div>
        <div class="Content-fashion">
            <h2>Rose At Met Gala</h2>
            <p>
                Blackpink's Rosé's Adorable Dress at the Met Gala Looks Completely Different on Zendaya
            </p>
        </div>
    </div>
    <div class="item">
        <div class="img-fashion">
            <img src="~/Content/IMG/kendall-papa.jpg"alt="Kendall" class="fm-img" />
        </div>
        <div class="Content-fashion">
            <h2>Kendall Jenner Style</h2>
            <p>
                Paparazi just tooke a picture of her
            </p>
        </div>
    </div>
    <div class="item">
        <div class="img-fashion">
            <img src="~/Content/IMG/timothe.jpg"alt="Timothee" class="fm-img"  />
        </div>
        <div class="Content-fashion">
            <h2>Timothee</h2>
            <p>
                the most handsome in the world just shoot with vouge magazines
            </p>
        </div>
    </div>
</div>
<div class="hot-news">
    Fashion Week Runway Collection
</div>
<div class="container-fashion">
    <div class="Content">
        <h1 class="title">Channel Fashion Show</h1>
        <p>
            With a snip of her ribbon-looped scissors, Gabrielle “Coco” Chanel released women from their corsets and put them in fluid jersey suits and loose chemise dresses. “Nothing is more beautiful than freedom of the body,” she said. Chanel opened up a new world for her customers, in which they could dress and play as she did—like the boys.
        </p>
    </div>
    <div class="image">
        <img src="~/Content/IMG/content-chanel2.jpg" class="fm-img"/>
    </div>
</div>
<div class="celeb-more">
    <div class="item">
        <div class="img-fashion">
            <img src="~/Content/IMG/lv.jpg"class="fm-img" />
        </div>
        <div class="Content-fashion">
            <h2>Cruise 2025 show</h2>
            <p>
                Louis Vuitton presented the Cruise 2025 Collection by Nicolas Ghesquière, revealed at the Park Güell in Barcelona on May 23rd, 2024.
            </p>
        </div>
    </div>
    <div class="item">
        <div class="img-fashion">
            <img src="~/Content/IMG/supermodal.jpg" class="fm-img"/>
        </div>
        <div class="Content-fashion">
            <h2>Super Modal Runway In The World</h2>
            <p>
                An Analysis Of The Most Iconic Supermodel Runway Walks: From Naomi Campbell To Gigi Hadid
            </p>
        </div>
    </div>
</div>
<div class="hot-news">
    Fashion Style Trends
</div>
<div class="container-fashion-img">
    <div>
        <img src="~/Content/IMG/style.jpg"width="100%" style="margin-bottom:20px;" />
    </div>
</div>
<div class="container-fashion">
    <div class="Content-style">
        <h1 class="title">Go West This Spring With Cowboy-Inspired Fashions</h1>
        <p>
            Western fashion is not just a trend, it is a timeless and classic way of dressing that feels forever cool. However, we have been seeing a new wave of cowboy-inspired garbs, both on and off the runways, that have inspired us to pepper our wardrobes with rodeo-approved accessories and ready-to-wear items.
        </p>
    </div>
</div>
<div class="celeb-more">
    <div class="item">
        <div class="img-fashion">
            <img src="~/Content/IMG/boyomce.jpg" class="fm-img"/>
        </div>
        <div class="Content-fashion">
            <h2>Beonce bring Cowboy style back</h2>
            <p>
                Westerncore cowboy style returns with the Concho belt. Thank You Beyonce
            </p>
        </div>
    </div>
    <div class="item">
        <div class="img-fashion">
            <img src="~/Content/IMG/girl-cowboy.jpg" class="fm-img"/>
        </div>
        <div class="Content-fashion">
            <h2>The current cowboy obsession is bigger than fashion</h2>
            <p>
                t’s far from the style’s first rodeo, but thanks to musical icons such as Beyoncé, Lana Del Rey and Taylor Swift — cowboy core is more popular than ever.
            </p>
        </div>
    </div>
    <div class="item">
        <div class="img-fashion">
            <img src="~/Content/IMG/pharrel.jpg"class="fm-img" />
        </div>
        <div class="Content-fashion">
            <h2>Pharrell’s Souped-Up Cowboy Look</h2>
            <p>
                When music producer and songwriter Pharrell Williams was announced as the new creative director of Louis Vuitton men’s back in February last year
            </p>
        </div>
    </div>
</div>