@model IEnumerable<DOANNEW.Models.Bai_viet>
<link href="https://fonts.cdnfonts.com/css/vogue" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Federo&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap" rel="stylesheet">
<link href="~/Content/CSS-HOME/HomePages.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="hot-news">
    HOT NEWS
</div>

<div class="homecontainer">
    <div class="image">
        <img src="~/Content/IMG/banner-jenniemantra.jpg" />
    </div>
    <div class="Content">
        <h6>ENTERTAINMENT</h6>
        <h2>7 thoughts I had about Jennie’s ‘Mantra’ MV</h2>
        <p>
            Sometimes, girls just wanna have fun. With the Californian sun beating down on her, Jennie lets her hair loose and drops 'Mantra', a certified bop that's for the girls
        </p>
    </div>
</div>
<div class="homecontainer">
    <div class="Content">
        <h6>FASHION</h6>
        <h2>Louis Vuitton’s cruise 2025 collection explores postmodern architecture and the future</h2>
        <p>
            Hosted at the culture-filled Park Güell in Barcelona, Spain, the Louis Vuitton cruise 2025 collection was a showing of sharp tailoring, romantic draping and ornamental detailing
        </p>
    </div>
    <div class="image">
        <img src="~/Content/IMG/LV25.jpg" />
    </div>
</div>
<div class="topcontainer">
    <div class="top-img">
        <img src="~/Content/IMG/squid2.jpg"width="60%" />
    </div>
</div>
<div class="bot-text">
    <h6>ENTERTAINMENT</h6>
    <h2>Squid Game Season 2: What We Know So Far</h2>
    <p>The K-drama takes a classic battle royale tale and turns it on its head. And there’s more coming</p>
</div>
<div class="two-pic-container">
    <div class="pic-1">
        <img src="~/Content/IMG/eat-just-cover.jpg"width="70%" />
    </div>
    <div class="pic-2">
        <img src="~/Content/IMG/Gonghua.jpg"width="100%" />
    </div>
    <div class="Content">
        <h6>CUISINE</h6>
        <h2>Meet Gong Hua, the food artist inspired by surrealism and fetishism</h2>
        <p>
            The conceptual food artist speaks to Life and Style on her creative process and food’s contiguous relationship with fashion
        </p>
    </div>
</div>
<div class="two-pic-right-cont">
    <div class="Content">
        <h6>SPORT</h6>
        <h2>Luxury golf travel: The best golf resorts to visit this autumn</h2>
        <p>
            The experts have handpicked the most exquisite courses in the world
        </p>
    </div>
    <div class="pic-right-1">
        <img src="~/Content/IMG/bigstock-Dubai.jpg"width="100%" />
    </div>
    <div class="pic-right-2">
        <img src="~/Content/IMG/bigstock-GLENEAGLES-SCOTLAND.jpg" width="100%"/>
    </div>
</div>
<div class="left-empty-container">
    <div class="lec-img">
        <img src="~/Content/IMG/como.jpg" width="70%" />
    </div>
    <div class="lec-content">
        <h6>SPORT</h6>
        <h2>FC Como Women bring in Nike as league-first technical partner</h2>
        <p>
            Nike becomes the first kit partner for an independent side in Serie A Femminile.
        </p>
    </div>
</div>





